<ion-content>
    <div class="ion-text-center content">

        <ion-text color="danger">
            <h1>Play FizzyBuzz game!</h1>
        </ion-text>
        <ion-text>
            <h2>How many points you can get?</h2>
        </ion-text>
        <img src="https://res.cloudinary.com/mokaweb/image/upload/c_scale,w_65/v1598466343/PXl.WIDGETS/kisspng-lateralization-of-brain-function-human-brain-defau-brain-cartoon-5b51d028a630e3.3314913615320883606807_umwk0f.png"
             alt="brain_exercise">
        <div>
            <ion-text color="primary">
                <h1>Instructions:</h1>
            </ion-text>
            <ion-text>
                <h3>If numbers are divided:</h3>
                <h4>by <b>3</b> click <b>Fizz</b></h4>
                <h4>by <b>5</b> click <b>Buzz</b></h4>
                <h4>by <b>3</b> and <b>5</b> click <b>FizzBuzz</b></h4>
                <h4>in other cases click <b>Number</b></h4>
            </ion-text>
        </div>
    </div>
</ion-content>
