<ion-card-content class="content ion-text-center">
    <ion-text color="primary">
        <div>
            <h1>Instructions</h1>
        </div>
    </ion-text>
    <ion-text>
        <div>
            <h2 class="m-t-10">Play FizzyBuzz game!</h2>
            <h2>Collect as much points as possible.</h2>
            <h2 class="m-t-10">When numbers are divided:</h2>
            <h3>by <b>3</b> click <b>Fizz</b></h3>
            <h3>by <b>5</b> click <b>Buzz</b></h3>
            <h3>by <b>3</b> and <b>5</b> click <b>FizzBuzz</b></h3>
            <h2 class="m-t-10">For the rest of cases click <b>Number</b></h2>
            <h2 class="m-t-10">You can see your progress in the table.</h2>
        </div>
    </ion-text>
</ion-card-content>
