<ion-content class="ion-text-center">
    <ion-text color="primary">
        <h1>Wall of Fame</h1>
    </ion-text>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let item of fizzBuzzService.highscores">
                <img [src]="item.photo" alt="photo"/>
                <h2 class="ion-text-center">{{item.name}}</h2>
                <h3 class="ion-text-center">score: {{item.score}}</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button color="danger" (click)="clearStorage()">
        Reset the wall
    </ion-button>
</ion-content>
