<ion-content class="ion-text-center">
    <ion-text>
        <h1>Save your High Score</h1>
    </ion-text>
    <ion-text>
        <h2>Your points: {{highScore}}</h2>
    </ion-text>
    <form [formGroup]="form" (ngSubmit)="saveHighScore()">
        <ion-toolbar>
            <ion-title color="primary">Your name:</ion-title>
        </ion-toolbar>
        <ion-item class="ion-text-center">
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
            <ion-text color="danger">
                <h2>Take a selfie!</h2>
            </ion-text>
            <div class="selfie">
                <ion-fab-button (click)="takePicture()">
                    <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
                <ion-button type="submit" color="primary">
                    Save
                </ion-button>
                <ion-button color="light" (click)="playAgain()">
                    Play again
                </ion-button>
            </div>
    </form>
</ion-content>
