
h1{
  margin: 10% 0 15% 0;
}

.selfie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ion-fab-button {
    margin-top:5%;
  }
  ion-button {
    margin-top:10%;
    width: 95%
  }
}
