<ion-card-content class="home-content ion-text-center">
    <ion-text color="primary">
        <div>
            <h1>Welcome to FizzyBuzz Game!</h1>
        </div>
    </ion-text>

    <ion-text>
        <div class="m-t-10">
            <h2>Click Game to play.</h2>
        </div>
        <div class="m-t-2">
            <h2>Click Rules to see instructions.</h2>
        </div>
    </ion-text>

    <ion-text color="danger" class="m-t-30">
        <div>
            <h1>Have fun!</h1>
        </div>
    </ion-text>
</ion-card-content>
