.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height:60%;
  margin-top:30%;
}
.blue {
  color: #1b71ad;
}

.green {
  color: #28996c;
}

.pink {
  color: #be5683;
}

.orange {
  color: #fc9d1f;
}

