<ion-content>
    <div class="ion-text-center content">
        <div>
            <ion-text color="primary">
                <h1>Welcome to FizzyBuzz Game!</h1>
            </ion-text>
            <ion-text color="danger">
                <h1>Have fun!</h1>
            </ion-text>
        </div>
        <img src="https://res.cloudinary.com/mokaweb/image/upload/c_scale,w_230/v1598605446/PXl.WIDGETS/brain_lifting-removebg-preview_ceppwl.png"
             alt="brain_exercise">
    </div>
</ion-content>
