.home-content {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  height: 90%;

  h1 {
    font-weight: bold;
  }

  .m-t-2 {
    margin-top: 2%;
  }

  .m-t-10 {
    margin-top: 10%;
  }
  .m-t-30 {
    margin-top: 30%;
  }

  .blue {
    color: #1b71ad;
  }

  .green {
    color: #28996c;
  }

  .pink {
    color: #be5683;
  }

  .orange {
    color: #fc9d1f;
  }
}
