<ion-content>
    <div class="ion-text-center content">

        <ion-text color="primary">
            <h1>Welcome to FizzyBuzz Game!</h1>
        </ion-text>
        <img src="https://res.cloudinary.com/mokaweb/image/upload/c_scale,w_120/v1598514204/PXl.WIDGETS/pngwave_sgdzfi.png"
             alt="brain_exercise">
        <ion-text>
            <h2>Click Game to play.</h2>
            <h2>Click Rules to see instructions.</h2>
        </ion-text>

        <ion-text color="danger">
            <h1>Have fun!</h1>
        </ion-text>

    </div>
</ion-content>
